/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: RENAME_ASSEMBLY {
        publishDir = [
            path: { "${params.outdir}/rename_assembly" },
            enabled: false   ]
    }
    withName: RENAME_GFF {
        publishDir = [
            path: { "${params.outdir}/rename_gff" },
            enabled: false   ]
    }
    withName: RENAME_REFERENCE {
        publishDir = [
            path: { "${params.outdir}/rename_reference" },
            enabled: false ]
    }
    withName: SNIPPY_RUN {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/snippy_run" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SNIPPY_CORE {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/snippy_core" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SNPDISTS_SNIPPY {
        ext.args_extension =''
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/snippy_core" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SNPDISTS_GUBBINS {
        ext.args_extension ='gubbins_'
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/gubbins" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CONSTANTSITES {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/snippy_core" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: IQTREE {
        ext.args = "-redo"
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/snippy_core" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CLEAN_TREE {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/snippy_core" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GUBBINS {
        ext.args = '--verbose'
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/gubbins" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SNPSITES {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/gubbins" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PANAROO_RUN {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GENEDISTS {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/panaroo" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MASHTREE {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/mashtree" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: REFERENCE_EVALUATION {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/" },
            mode: params.publish_dir_mode ,
        ]
    }
    withName: YAML_BOTH {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/" },
            enabled: false
        ]
    }
    withName: YAML_GUB_ONLY {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/" },
            enabled: false
        ]
    }
    withName: YAML_MASH_ONLY {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/" },
            enabled: false
        ]
    }
    withName: YAML_NEITHER {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/" },
            enabled: false
        ]
    }
    withName: QUARTO_BOTH {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/" },
            mode: params.publish_dir_mode ,
            pattern: "*.html"
        ]
    }
    withName: QUARTO_GUB_ONLY {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/" },
            mode: params.publish_dir_mode ,
            pattern: "*.html"
        ]
    }
    withName: QUARTO_MASH_ONLY {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/" },
            mode: params.publish_dir_mode ,
            pattern: "*.html"
        ]
    }
    withName: QUARTO_NEITHER {
        publishDir = [
            path: { "${params.outdir}/${species}/${cluster_id}/" },
            mode: params.publish_dir_mode ,
            pattern: "*.html"
        ]
    }
}
